html,body{

    height: 100%;
}
#container{

    display:grid;
max-width: 300px;
min-height: 400px;
    width: 90%;
    height: 70%;
    background-color: black;
    margin:20px auto 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    border: 3px dotted;
    grid-gap: 1px;





}
#container div{
    justify-content: center;
    display: flex;
    background-color:rgb(140, 0, 255);
    align-items: center;
    font-size: 25pt;
    transition :all .2s linear;
}
#container >div:hover{
    background: red;
    transition-delay: 0s;
    flex-grow: 0;
}